<div class="container">
  <h3>Login</h3>
  <form action="/login">
    <div>
      <label>
        <span>Username:</span>
        <input type="text" name="username">
      </label>
    </div>
    <div>
      <label>
        <span>Password:</span>
        <input type="password" name="password">
      </label>
    </div>
    <div class="buttonContainer">
      <div>
        <input type="button" value="Register" routerLink="/register"/>
        <input type="submit" value="Login" routerLink="/user/hooman">
      </div>
    </div>
  </form>
</div>
