<div class="container">
  <h3>Login</h3>
  <form action="/login" autocomplete="on">
    <div>
      <label>
        <span>Username:</span>
        <input type="text" name="username" #user>
      </label>
    </div>
    <div>
      <label>
        <span>Password:</span>
        <input type="password" name="password" #pass>
      </label>
    </div>
    <div class="buttonContainer">
      <div>
        <input type="button" value="Register" routerLink="/register"/>
        <input type="submit" value="Login" (click)="login(user.value, pass.value);">
      </div>
    </div>
  </form>
</div>
