.container{
  padding: 10px;
  margin: 20px;
  border: 1px solid #cccccc;
  background-color: white;
}

form div {
  margin: 10px 0;
}

form label {
  width: 80px;
  display: inline-block;
}

.btn {
  width: 70px;
}
