.container {
  padding: 10px;
  margin: 20px;
  border: 1px solid #cccccc;
  background-color: white;
}

form div {
  margin: 10px 0;
}

form label span {
  display: inline-block;
  width: 100px;
}

div.buttonContainer {
  text-align: right;
  padding-right: 70px;
}

div.buttonContainer div {
  display: inline-block;
}

div.buttonContainer input {
  margin-left: 10px;
}
