.mainContainer {
  width: 960px;
  border-right: 1px dashed #999999;
  border-left: 1px dashed #999999;
  border-bottom: 1px dashed #999999;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px 10px 50px;
}
