<h3>Weather Lookup</h3>

<input type="text" #cityName placeholder="Type city name here" (keyup.enter)="lookupCityWeather(cityName.value)"/>
<input type="button" (click)="lookupCityWeather(cityName.value)" value="Search"/>
<div class="error" *ngIf="errorMessage && !status">{{errorMessage}}</div>

<div *ngIf="city.name && status">
  <div class="quickView">
    <h5 class="cityName">{{city.name}} Weather Info:</h5>
    <div><span class="label">Temp: </span><span class="value">{{wc.temp}}</span>&#8451;</div>
    <div><span class="label">Max Temp: </span><span class="value">{{wc.temp_max}}</span>&#8451;</div>
    <div><span class="label">Min Temp: </span><span class="value">{{wc.temp_min}}</span>&#8451;</div>
  </div>
</div>
