.sectionWrapper {
  display: inline-grid;
  width: 46%;

}
.section {
  border: 1px solid #cccccc;
  background-color: white;
  padding: 0 20px 10px;
  margin: 10px 5px;
}

.info {
  font-size: small;
  color: green;
}


.label {
  font-size: 12px;
}

.value {
  color: blue;
}

.buttonContainer {
  padding: 10px 0;
}
