<h4>Welcome {{username}} <a (click)="signOut()" href="#">(Sign Out)</a></h4>
<h5>City List</h5>
<div class="sectionWrapper">
  <div *ngIf="cityWeatherDtos">
    <div *ngFor="let item of cityWeatherDtos" class="section">
      <h5 class="cityName">{{item.name}}:</h5>
      <div>
        <span class="label">Temp: </span><span class="value">{{item.main.temp}}</span>&#8451;
      </div>
      <div>
        <span class="label">Max Temp: </span><span class="value">{{item.main.temp_max}}</span>&#8451;
      </div>
      <div>
        <span class="label">Min Temp: </span><span class="value">{{item.main.temp_min}}</span>&#8451;
      </div>
      <div class="buttonContainer">
        <button (click)="deleteCity(item.id)">Remove</button>
      </div>
    </div>
  </div>
  <div *ngIf="!cityWeatherDtos" class="info">
    You haven't added any city. Please add it first.
  </div>
</div>

<div class="sectionWrapper section">
  <h5>Add City</h5>
  <form>
    <label>
      <input type="text" name="cityName" #cityName>
    </label>
    <input type="submit" value="Add" (click)="addCity(cityName.value)">
  </form>
</div>
