.formContainer {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
}

form {
  margin: 20px 0 10px;
}

form label {
  display: block;
  height: 27px;
}

form label span {
  width: 150px;
  display: inline-block;
}

div.buttonContainer {
  margin: 20px 0;
  text-align: right;
  padding-right: 32px;
}

div.buttonContainer div {
  display: inline-block;
}

input[type=submit], input[type=button] {
  width: 80px;
}

.info {
  color: green;
  background-color: #c1eebe;
  border: 1px solid darkgreen;
  border-radius: 5px;
  padding: 5px 10px;
}

.error {
  color: #bf271e;
  background-color: #ffd3d1;
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 5px 10px;
}
